body {
    font-family: 'Lato', sans-serif;
}
.text-primary{
    color:#E55473 ;
}
.btn-primary{
    color: #FFF;
    background: #E55473;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    padding: 15px 35px;
}
/* header section */
.header{
    background-color: rgb(243, 224, 228);
    padding: 60px 15px 0px 15px ;
    width: 1920px;
    height: 830px;
    border: 0;
   
}
.banner{
   display: flex;
   align-items: center;
   justify-content: space-around;
   padding: 30px 30px 30px 150px;

}
.banner-content{
     justify-content: space-between;
}
.banner-theme{
    color: #272727;
    font-size: 80px;
    font-weight: 700;
    width: 708px;
    flex-direction: column;
}
.banner-description{
    display: flex;
    width: 634px;
    flex-direction: column;
    color: rgba(2, 2, 2, 0.6);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    font-family: 'Lato', sans-serif;
};
.banner.banner-pic{
height: 300px;
    width: 200px;
}
  /* men s */

  main {
    max-width: 1908px;
    margin: 0 auto;
}

main section {
    margin-top: 55px;
}
     /* flower-containers  */
     .section-one{
        padding: 130px;
        border-radius: 10px;
        margin: 130px 0;
        text-align: center;
     }
     .section-title{
        color: #272727;
        font-weight: 800;
        font-size: 40px;
     }
     .section-description{
        font-size: 18px;
        font-weight: 400;
        line-height: 60px;
        text-align: center;
        padding: 10px 20px 50px 30px;

     }
    .flower-containers{

         display: flex;
         gap: 50px;
         padding: ;
    }
.flower-1{
    background-color: pink;
    height: 450px;
    width: 360px;
    
}
.flower-2{
background-color: aqua;

height: 450px;
    width: 360px;
   
}
.flower-3{
background-color: darkcyan;
height: 450px;
    width: 360px;
    
}
/* section two */

.info-container{
    margin: auto ;
display: flex;
width: 1440px;
height: 320px;
border-radius: 8px;
background: rgba(39, 39, 39, 0.05);
align-items: center;
justify-content: space-around;
text-align: center;
}
/* section.three */
.banner-three{
    background-color:rgb(243, 224, 228) ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 400px;
    text-align: center;
    padding: 80px 50px 80px 50px;
    margin-bottom: 250px;

} 
.banner-three-title{
    color: #272727;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: 50px;

}
.banner-three-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

}
/* section.four */
.social-center{
text-align: center;
}
.social-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    line-height: normal; 

}
.social-description{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400; 
padding: 10px 20px 50px 30px;
}
.social-pics{
    padding: 30px 100px 10px 100px;;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 150px;
}
/* section.five */
.last-section{
    align-items: center;
    background-image:url(../Rectangle\ 9.png);
    background-size: cover;
    width: 80%;
    margin: auto;
    height: 400px;
    padding: 30px 70px 30px 70px;
    margin-bottom: 250px;

}
.last-section-title{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}
.last-section-description{
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;

}
.jack{ 
    align-items: center;
   text-align: center;
   display: flex;
   gap: 10px;
   padding: 90px 60px 30px 400px;


}
.mail-entry{
    width: 550px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    gap: 10px;

}
/* footer  */
.text-secondary{
    color: white;
}
footer{
    background: black;
    width: 1922px;
    height: 449px;
    flex-shrink: 0;
    text-align: center;
    padding: 300px 0px 0px 0px;
}
.footer-description{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;

}
.last-footer{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}